html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

.light-bulb-icon {
    font-size: 10rem;
}

.speed-slider {
    direction: rtl;
}

.dropdown-content {
    max-height: 13em;
    overflow: auto;
}
